@import url('_partials/variables.css');

/* ****** header ****** */
header {
  height: 70px;
}

header .img-logo {
  max-height: 50px;
}

/* ****** /header****** */

/* ******main****** */

/* *debug* */
.debug .container {
  background-color: red;
}

.debug .sidebar {
  background-color: blue;
}

.debug .page-corp {
  background-color: orange;
}

main .main-container {
  height: calc(100vh - 70px);
}

/* * /debug* */

main .sidebar {
  height: 100%;
  background-image: url(../img/sidebar-bg.png);
  background-size: auto;
}

main .page-corp {
  width: calc(100% - 70px);
  height: 100%;
}

/* jumbotron */

/* /main */

@media screen and (min-width: 960px) {
  main .sidebar {
    width: 150px;
  }
}
