@import url('_partials/variables.css');

/* ****** header ****** */
header {
  height: 70px;
}

header .img-logo {
  max-height: 50px;
}

/* ****** /header****** */

/* ******main****** */

/* *debug* */
.debug .container {
  background-color: red;
}

.debug .sidebar {
  background-color: blue;
}

.debug .page-corp {
  background-color: orange;
}

main .main-container {
  height: calc(100vh - 70px);
}

/* * /debug* */

main .sidebar {
  height: 100%;
  background-image: url(../img/sidebar-bg.png);
  background-size: auto;
}

main .page-corp {
  width: calc(100% - 70px);
  height: 100%;
}

/* hover su icone */
main .sidebar li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* jumbotron */

/* corpo pagina */

table tbody td img {
  width: 30px;
  margin-right: 11px;
}

.ag-btm-radius {
  border-radius: 8px;
}

.w-standard-small {
  width: 50%;
}

.w-standard-big {
  width: 25%;
}

/* /corpo pagina */
/* /main */

@media screen and (min-width: 540px) {
  .w-standard-small {
    width: calc(100% / 6);
  }

  .w-standard-big {
    width: calc((100% / 6) * 2);
  }
}

@media screen and (min-width: 960px) {
  main .sidebar {
    width: 150px;
  }
}
