.ag-bg-lightgrey {
  --ag-bg-lightgrey: #e5e5e5;
  background-color: var(--ag-bg-lightgrey);
}

.ag-bg-lighterblue {
  --ag-bg-lighterblue: #1b72e8;
  background-color: var(--ag-bg-lighterblue);
}

.ag-bg-blue {
  --ag-bg-blue: #051e34;
  background-color: var(--ag-bg-blue);
}

.ag-txt-grey {
  --ag-txt-grey: #5b5858;
  color: var(--ag-txt-grey);
}

.ag-txt-orange {
  --ag-txt-orange: #ff8f00;
  color: var(--ag-txt-orange);
}
